.audio-player {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;
  width: 35px;
  height: 35px;
  opacity: 0.8;
  transition: all 300ms ease;
  animation: scaleMusic 2s;
  animation-iteration-count: infinite;
}

/* @keyframes scaleMusic {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
} */

.audio-player:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .audio-player {
    top: 12px;
    right: 18px;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.player-button {
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 0;
}
