@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #fff;
  font-family: 'Space Mono', monospace;
}

/* NAVBAR */
.container {
  /* max-width: 90%; */
  margin: auto;
  justify-content: center !important;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  text-decoration: none;
}

/* =========================NAVBAR========================= */
.navbar__logo {
  width: 40px;
}

.navbar-img {
  width: 30px;
  transition: all 0.2s ease-in-out;
}

.navbar-img:hover {
  transform: scale(1.1);
}

.navbar__content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin: auto;
  transition: all 0.3s;

  /* From https://css.glass */
  background: rgba(22, 37, 39, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(22, 37, 39, 0.04);
}

.navbar__content:hover {
  transform: scale(1.01);
  /* From https://css.glass */
  background: rgba(22, 37, 39, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.7px);
  -webkit-backdrop-filter: blur(13.7px);
  border: 1px solid rgba(22, 37, 39, 0.04);
}

.navbar__left,
.navbar__right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar__item {
  padding: 0;
}

.navbar__link {
  display: inline-block;
  text-decoration: none;
  width: 90px;
  height: 42px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

/* Home Icon */
.home-icon::after,
.home-icon::before {
  content: 'Home';
  font-weight: 900;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #162527;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
  font-size: 1rem;
}

.navbar__link.home-icon::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f015';
  font-weight: 900;
  top: 36px;
  font-size: 20px;
}

.navbar__link.home-icon:hover::after {
  top: -36px;
}

.navbar__link.home-icon:hover::before {
  top: 0;
}

/* About Icon */
.about-icon::after,
.about-icon::before {
  content: 'About';
  font-weight: 900;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #162527;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
}

.navbar__link.about-icon::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f05a';
  font-weight: 900;
  top: 36px;
  font-size: 20px !important;
}

.navbar__link.about-icon:hover::after {
  top: -36px;
}

.navbar__link.about-icon:hover::before {
  top: 0;
}

/* Discover Icon */
.discover-icon::after,
.discover-icon::before {
  content: 'Discover';
  font-weight: 900;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #162527;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
}

.navbar__link.discover-icon::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f689';
  font-weight: 900;
  top: 36px;
  font-size: 20px;
}

.navbar__link.discover-icon:hover::after {
  top: -36px;
}

.navbar__link.discover-icon:hover::before {
  top: 0;
}

/* Food Icon */
.food-icon::after,
.food-icon::before {
  content: 'MEMORIES';
  font-weight: 900;
  position: absolute;
  text-align: center;
  width: 100%;
  color: #162527;
  text-transform: uppercase;
  line-height: 2.5;

  transition: all 400ms;
  top: 0;
}

.navbar__link.food-icon::before {
  font-family: 'Font Awesome 5 Free';
  content: '\f004';
  font-weight: 900;
  top: 36px;
  font-size: 20px;
}

.navbar__link.food-icon:hover::after {
  top: -36px;
}

.navbar__link.food-icon:hover::before {
  top: 0;
}

@media screen and (min-width: 768px) {
  /* .navbar__content {
    width: 70% !important;
  } */

  .navbar-img {
    width: 40px;
  }

  .navbar__link {
    width: 160px;
    margin: 16px 0;
  }

  .navbar__item {
    padding: 0 0.75rem;
  }
}

@media screen and (min-width: 992px) {
  .navbar-img {
    width: 50px;
  }
}

.image-gallery {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-auto-flow: dense;
  grid-gap: 20px;
}

.image-gallery .image-box {
  position: relative;
  background-color: #d7d7d8;
  overflow: hidden;
}

.image-gallery .image-box:nth-child(7n + 1) {
  grid-column: span 2;
  grid-row: span 2;
}

.image-gallery .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease;
}

.image-gallery .image-box:hover img {
  transform: scale(1.1);
}

.image-gallery .image-box .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fafafaf2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 1;
}

.image-gallery .image-box:hover .overlay {
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
  opacity: 1;
}

.image-gallery .image-box .details {
  text-align: center;
}

.image-gallery .image-box .details .title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  top: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box .details .category {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  bottom: -5px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.image-gallery .image-box:hover .details .title {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box:hover .details .category {
  bottom: 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s 0.2s ease;
}

.image-gallery .image-box .details .title a,
.image-gallery .image-box .details .category a {
  color: #222222;
  text-decoration: none;
}

@media (max-width: 768px) {
  .image-gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 250px;
  }

  .image-gallery .image-box:nth-child(7n + 1) {
    grid-column: unset;
    grid-row: unset;
  }
}

.footer {
  padding: 3rem;
  box-shadow: -1px 0 3px rgba(14, 55, 63, 0.15);
}
.copyright {
  text-align: center;
  color: #14505c;
}
