/* ==============Google Fonts============== */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ============== VARIABLE CSS ============== */
:root {
  --header-height: 3rem;

  /* Color */
  --first-color: #14505c;
  --first-color-second: #14505c;
  --first-color-alt: #0e373f;
  --title-color: #f6f9f9;
  --text-color: #44686f;
  --text-color-light: #919ea1;
  --input-color: #f6f9f9;
  --body-color: #162527;
  --white-color: #fff;
  --scroll-bar-color: #e2e8e9;
  --scroll-thumb-color: #b8c4c7;

  /*========== Font and typography ==========*/
  --body-font: 'Space Mono', monospace;
  --title-font: 'Space Mono', monospace;
  --biggest-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Margenes Bottom ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 20;

  /*========== Hover overlay ==========*/
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: 600;
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

.main {
  overflow-x: hidden;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: var(--mb-2);
}

.section__title p {
  padding: 1rem 0;
  font-size: 1.25rem;
  color: #bac3c4;
}

.container {
  max-width: 90%;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .container {
    max-width: 85%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 80%;
  }
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: transparent;
}

/*=============== NAVBAR ===============*/
.header {
  transition: all 300ms ease-in-out;
}

.navbar {
  padding: 0.5rem 0 !important;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--body-color);
  height: 100vh;
  width: 60%;
  transition: right 200ms ease;
  box-shadow: -1px 0 4px rgb(169 169 169 / 15%);
}

.navbar-img {
  width: 2.5rem;
  height: auto;
}

.collapsing {
  right: -100%;
  transition: left 3 00ms ease-in-out;
}

.show {
  right: 0;
  transition: right 300ms ease-in-out;
}

.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding: 50px;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 300ms;
}

.nav-link:hover {
  color: #e2e8e9 !important;
}

i.fa-window-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: all 300ms;
}

i.fa-window-close:hover {
  color: rgba(255, 255, 255, 0.75);
}

.fixed-top {
  background-color: #162527;
  box-shadow: -1px 0 4px rgb(169 169 169 / 15%);
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    position: inherit;
    height: 5rem;
    background-color: transparent;
    box-shadow: none;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  i.fa-window-close {
    display: none;
  }

  .nav-link {
    font-size: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    color: #14505c !important;
  }

  .fixed-top .nav-link {
    color: #bac3c4 !important;
  }
  .fixed-top .nav-link:hover {
    color: rgb(19, 78, 89) !important;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.25rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-img {
    width: 3rem;
  }
}
/*=============== HOME BANNER ===============*/
.home_img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 83%;
}

.home__container {
  position: relative;
  height: calc(100vh - 3rem);
  align-content: center;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  z-index: 10;
}

.home__data-subtitle,
.home__data-title,
.home__social-link {
  color: #fff;
}

.home__data-subtitle {
  display: block;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: #14505c;
}

.home__data-title {
  font-size: var(--biggest-font-size);
  font-weight: 500;
  margin-bottom: 2.5rem;
}

strong {
  color: #14505c;
}

.home__social {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.home__social-link {
  font-size: 1.2rem;
  width: max-content;
  transition: all 300ms;
}

.home__social-link:hover {
  color: rgba(255, 255, 255, 0.5);
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 600;
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--first-color-alt);
  text-decoration: none;
  color: #fff;
}

#pine-tree {
  width: 1.75rem;
  transform: translateY(-14px);
}

.cloud__left {
  position: absolute;
  top: 28%;
  left: 25%;
  width: 40%;
  animation-name: cloudLeft;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  z-index: 0;
}

@keyframes cloudLeft {
  0% {
    left: 25%;
  }
  10% {
    left: 20%;
  }
  20% {
    left: 16%;
  }
  30% {
    left: 10%;
  }
  40% {
    left: 0%;
  }
  50% {
    left: 4%;
  }
  60% {
    left: 8%;
  }
  70% {
    left: 12%;
  }
  80% {
    left: 16%;
  }
  90% {
    left: 20%;
  }
  100% {
    left: 25%;
  }
}

.cloud__right {
  position: absolute;
  top: 5%;
  right: 8%;
  width: 60%;
  animation-name: cloudRight;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  z-index: 0;
}

@keyframes cloudRight {
  0% {
    right: 19%;
  }
  10% {
    right: 16%;
  }
  20% {
    right: 13%;
  }
  30% {
    right: 10%;
  }
  40% {
    right: 0%;
  }
  50% {
    right: 4%;
  }
  60% {
    right: 8%;
  }
  70% {
    right: 10%;
  }
  80% {
    right: 13%;
  }
  90% {
    right: 16%;
  }
  100% {
    right: 19%;
  }
}

@media screen and (min-width: 768px) {
  #pine-tree {
    width: 2.25rem;
    transform: translateY(-18px);
  }

  .home__social-link {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  #pine-tree {
    width: 2.5rem;
    transform: translateY(-18px);
  }

  .home__data {
    padding-top: 2.5rem;
  }

  .home__data-subtitle {
    font-size: 1.25rem;
  }

  .home__social {
    flex-direction: row;
    column-gap: 1.5rem;
  }

  .home__social-link {
    font-size: 1.5rem;
  }
}

/*=============== ABOUT ===============*/
.about__img {
  display: flex;
  flex-direction: row;
  column-gap: 1.5rem;
  justify-content: center;
}

.about__img-overlay {
  overflow: hidden;
  align-self: center;
}

.about__img1 {
  width: 135px;
  height: auto;
  transition: all 300ms;
}

.about__img1:hover {
  transform: scale(1.1);
}

.about__img2 {
  width: 200px;
  height: auto;
  transition: all 300ms;
}

.about__img2:hover {
  transform: scale(1.1);
}

.fa-building {
  color: burlywood;
}

.fa-tree {
  color: forestgreen;
}

@media screen and (min-width: 992px) {
  .about__img {
    column-gap: 3rem;
  }
  .about__content {
    align-self: center;
  }
  .about__img1 {
    width: 230px;
  }

  .about__img2 {
    width: 350px;
  }
}

/*=============== DISCOVER ===============*/
.discover__card {
  position: relative;
  width: 200px;
  overflow: var(--img-hidden);
}

.discover__container {
  overflow: hidden;
}

.discover__data {
  position: absolute;
  bottom: 1.5rem;
  left: 1rem;
}

.discover__title,
.discover__description {
  color: var(--white-color);
}

.discover__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-25);
}

.discover__description {
  display: block;
  font-size: var(--smaller-font-size);
}

.discover__img {
  transition: var(--img-transition);
}

.discover__img:hover {
  transform: var(--img-scale);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

/* VIDEO */
#video {
  background-image: url(../../assets/homepage/img_8.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.video__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(51 61 46 / 43%);
  z-index: -1;
}

.video__content {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.fa-shuttle-van {
  color: yellow;
}

@media screen and (min-width: 992px) {
  .video__content.container {
    max-width: 60%;
    height: auto;
  }
}

/* Foods */
.foods__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.foods__item img {
  height: 230px;
}

.food__img {
  overflow: hidden;
  width: 180px;
  height: auto;
}

.food__img img {
  width: 100%;
  object-fit: cover;
  transition: all 300ms;
}

.food__img:hover img {
  transform: scale(1.1);
}

@media screen and (min-width: 768px) {
  .foods__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 0.5rem;
    align-items: center;
  }

  .food__img {
    width: 200px;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .food__img {
    width: 300px;
    margin-bottom: 2.5rem;
  }

  .foods__item {
    row-gap: 1rem;
  }

  .foods__item:first-child {
    align-items: flex-end;
  }

  .foods__item:last-child {
    align-items: flex-start;
  }
}

.footer {
  padding: 2rem 0 3rem;
  box-shadow: -1px 0 4px rgb(169 169 169 / 15%);
}
.copyright {
  text-align: center;
  color: #fff;
}
