@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: 'Open Sans', sans-serif; */
  /* font-size: 0.938rem; */
  background-color: #fff;
  color: #162527;
  font-family: 'Space Mono', monospace;
}

.main {
  padding: 1.5rem;
}

.section {
  padding: 4.5rem 0 2.5rem;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

/*=============== HEADER ===============*/
.header {
  /* position: fixed; */
  position: relative;
  z-index: 10;
  background-color: #fff;
  transition: all 200ms ease;
}

.navbar {
  padding: 0.5rem 0 !important;
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
  height: 100vh;
  width: 60%;
  transition: right 200ms ease;
}

.navbar-img {
  width: 2.5rem;
  height: auto;
}

.collapsing {
  right: -100%;
  transition: left 300ms ease-in-out;
}

.show {
  right: 0;
  transition: right 300ms ease-in-out;
}

.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2.5rem;
  padding: 50px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url(../../assets/about/menubar.png);
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 300ms;
  color: #162527 !important;
}

.nav-link:hover {
  color: #e2e8e9 !important;
}

i.fa-window-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  color: #162527;
  transition: all 300ms;
}

i.fa-window-close:hover {
  /* color: rgba(255, 255, 255, 0.75); */
  color: #919ea1;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 0.1px solid rgba(14, 55, 63, 0.15);
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    position: inherit;
    height: 5rem;
    /* background-color: transparent; */
    box-shadow: none;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
  }

  i.fa-window-close {
    display: none;
  }

  .nav-link {
    font-size: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    color: #14505c !important;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.25rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-img {
    width: 3rem;
  }
}

/* ==============ABOUT============== */
.about__item {
  width: 80%;
  font-size: 2rem;
}

.about__special {
  margin: 4rem 0;
  /* padding: 1.5rem 0; */
  text-align: center;
}

.about__special h3 {
  font-weight: bold;
}

.about__details {
  width: 90%;
  margin: auto;
}

.about__special h3 {
  font-weight: bold;
}

.detail__header {
  text-align: center;
  padding: 2rem 0;
  border-bottom: solid 1px rgba(14, 55, 63, 0.15);
  border-top: solid 1px rgba(14, 55, 63, 0.15);
}

.detail__header:last-child {
  border-bottom: none;
}

.detail__title {
  padding: 2rem 0;
}

.detail__title h3 {
  font-weight: bold;
  text-shadow: -2px 1px 2px rgba(22, 37, 39, 0.72);
}

#about__icons {
  width: 5rem;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

#about__icons:hover {
  transform: scale(1.1);
  opacity: 1;
}
.detail__images {
  width: 60%;
  margin: auto;
  overflow: hidden;
  margin-bottom: 2rem;
}

.detail__images-img {
  object-fit: cover;
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
  opacity: 0.9;
}

.detail__images:hover .detail__images-img {
  transform: scale(1.1);
  opacity: 1;
}

.detail__love {
  overflow: hidden !important;
}

.detail__love:hover .detail__images-img {
  transform: scale(1.1);
  opacity: 1;
}

.detail__text {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 2rem;
  }
  .container {
    width: 90%;
  }

  #about {
    width: 80%;
    margin: auto;
  }

  .about__item {
    font-size: 2.25rem;
    line-height: 3rem;
  }

  p {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .main {
    padding: 2.5rem;
  }
  .container {
    width: 80%;
  }

  .about__item {
    line-height: 3.5rem;
    font-size: 2.5rem;
  }

  .h3 {
    font-size: 2rem !important;
  }
}

.footer {
  padding: 3rem;
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}
.copyright {
  text-align: center;
  color: #14505c;
}
