@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 0.938rem;
  background-color: #162527;
  color: #bac3c4;
}

.main {
  overflow-x: hidden;
}

/*=============== NAVBAR ===============*/

.header {
  left: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-box-pack: justify;
  align-items: center;
  z-index: 10;
}

.navbar {
  padding: 0.5rem 0 !important;
  z-index: 0;
}

@media screen and (min-width: 768px) {
  .header {
    transition: all 300ms ease-in-out;

    position: fixed;
    width: 10rem;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: #162527;
    -webkit-box-pack: justify;
    align-items: center;
  }

  .navbar {
    height: 100vh;
  }
}

.navbar-collapse {
  position: fixed;
  top: 0;
  right: 0;
  background-color: black;
  height: 100vh;
  width: 60%;
  transition: right 200ms ease;
}

@media screen and (min-width: 768px) {
  .navbar-expand-md .navbar-collapse {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}

.navbar-img {
  width: 2.5rem;
  height: auto;
}

.collapsing {
  right: -100%;
  transition: left 3 00ms ease-in-out;
}

.show {
  right: 0;
  transition: right 300ms ease-in-out;
}

.navbar-collapse .navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
  padding: 50px;
  padding-bottom: 5px;
}

.nav-link {
  font-weight: bold;
  font-size: 1.25rem;
  transition: all 300ms;
}

.nav-link:hover {
  color: #e2e8e9 !important;
}

i.fa-window-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.25rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.5);
  transition: all 300ms;
}

i.fa-window-close:hover {
  color: rgba(255, 255, 255, 0.75);
}

.fixed-top {
  background-color: #162527;
  /* color: #0e373f; */
  box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
}

/* ====================MAIN==================== */
main {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#food {
  height: 100%;
}

.food__img {
  width: 50%;
  height: 300px;
  float: left;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0.7;
  cursor: pointer;
}

.food__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.food__img:hover .image {
  transform: scale(1.1);
}

.food__img:hover {
  opacity: 1;
}

#navbar__brand--info {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}

strong {
  display: block;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  padding-bottom: 0.5rem;
}

span {
  font-weight: lighter;
  font-size: 0.85rem;
}

@media screen and (min-width: 768px) {
  .navbar-collapse {
    position: inherit;
    height: 5rem;
    background-color: transparent;
  }
  .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: row;
    padding: 0;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
  }

  #navbar__brand {
    background-color: black;
  }

  #navbar__brand--info {
    display: flex;
    flex-direction: column;
  }

  i.fa-window-close {
    display: none;
  }

  #food {
    margin-left: 10rem;
  }

  .nav-link {
    font-size: 1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    color: #bac3c4 !important;
  }

  .fixed-top .nav-link {
    /* color: #477f8a !important; */
    color: #bac3c4 !important;
  }
  .fixed-top .nav-link:hover {
    color: rgb(19, 78, 89) !important;
  }
}

@media screen and (min-width: 992px) {
  .nav-link {
    font-size: 1.25rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar-img {
    width: 3rem;
  }

  .food__img {
    width: 33.33%;
  }
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

@media screen and (min-width: 768px) {
  .modal-content {
    width: 60%;
  }
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 55px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  z-index: 10 !important;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
  z-index: 10 !important;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
